/*-------------------------------------------------- LABEL --------------------------------------------------*/
.label {
	/* Arial font is the most likely to be installed by default on Windows, Linux and Mac platforms */
	-fx-font-family:"Arial";
	-fx-text-alignment: center;
  	-fx-font-size: 11px;
  	-fx-text-fill: #000000;
  	-fx-border-width: 1px;
  	/* -fx-border-color: #FF0000; /* Decomment for testing purpose */
}

.label-big {
  	-fx-font-size: 15px;
  	-fx-font-weight: bold;
  	-fx-text-fill: #000000;
}

.label-small {
  	-fx-font-size: 7px;
  	-fx-text-fill: #000000;
}

/*-------------------------------------------------- BUTTON --------------------------------------------------*/
.button {
	-fx-font-family:"Arial";
	-fx-font-size: 11px;
	-fx-text-fill: #000000;
	-fx-background-color: linear-gradient(to bottom, #EEEEEE, #DCDCDC);
    -fx-background-radius: 0px;
    -fx-border-width: 1px;
    -fx-border-radius: 0px;
    -fx-border-color: #909090;
}

.button:hover {
    /*-fx-effect: dropshadow(gaussian, #00FF00, 20, 0, 0, 0);*/
    -fx-effect: innershadow(gaussian, #FFFFFF, 5, 0, 0, 0);
}

.button:pressed {
}

/*-------------------------------------------------- RADIO BUTTON --------------------------------------------------*/
.radio-button-active {
	    -fx-effect: innershadow(gaussian, #DCDCDC, 10, 0, 0, 0);
}

.radio-button-inactive {
	    -fx-effect: innershadow(gaussian, #000000, 0, 0, 0, 0);
}

/*-------------------------------------------------- PROGRESS BAR --------------------------------------------------*/
.progress-bar {
	-fx-background-color: #DCDCDC;
	-fx-border-color: #909090;
}

.progress-bar .bar {
	-fx-background-color: #707070;
	-fx-border-color: #000000;
	-fx-effect: dropshadow(gaussian, #505050, 5, 0, 0, 0);
}

.progress-bar .track {
	-fx-background-color: linear-gradient(to bottom, #003200, #000000);
	-fx-border-color: #00FF00;
}

/*-------------------------------------------------- TEXT FIELD --------------------------------------------------*/
.text-field {
	-fx-font-family:"Arial";
	-fx-font-size: 11px;
    -fx-text-fill: #000000;
	-fx-prompt-text-fill: #000000;
	-fx-highlight-text-fill: #000000;
    -fx-highlight-fill: #AAAAAA;
    -fx-background-color: linear-gradient(to bottom, #EEEEEE, #DCDCDC);
    -fx-background-radius: 0px;
    -fx-border-width: 1px;
    -fx-border-radius: 0px;
    -fx-border-color: #909090;
}

.text-field:focused {
	-fx-font-family:"Arial";
	-fx-font-size: 11px;
	-fx-text-fill: #000000;
	-fx-prompt-text-fill: #000000;
	-fx-highlight-text-fill: #000000;
	-fx-highlight-fill: #AAAAAA;
	/* -fx-background-color: #linear-gradient(to bottom, #EEEEEE, #DCDCDC); */
	-fx-background-radius: 0px;
    -fx-border-width: 1px;
    -fx-border-radius: 0px;
    -fx-border-color: #909090;
}

.text-field:hover {
    /*-fx-background-color: #000000;*/
    -fx-effect: innershadow(gaussian, #FFFFFF, 5, 0, 0, 0);
}

/*-------------------------------------------------- TAB --------------------------------------------------*/
.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
 /* -fx-padding: 0.416667em 0.166667em 0.0em 0.833em; /* 5 2 0 10 */
    -fx-padding: 0.416667em 0.166667em 0.0em 0.0em; /* overridden as 5 2 0 0 */
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane
{
    -fx-tab-min-width:50px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab
{
    /* -fx-background-color: #DCDCDC; */
    -fx-background-color: linear-gradient(to bottom, #EEEEEE, #DCDCDC);
    -fx-background-radius: 0px;
    -fx-border-width: 1px;
    -fx-border-radius: 0px;
    -fx-border-color: #AAAAAA;
}

.tab-pane .tab:selected
{
    /* -fx-background-color: #909090; */
    -fx-background-color: linear-gradient(to bottom, #AAAAAA, #DCDCDC);
    -fx-background-radius: 0px;
    -fx-border-width: 1px;
    -fx-border-radius: 0px;
    -fx-border-color: #AAAAAA;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-font-family:"Arial";
    -fx-font-size: 11px;
    -fx-text-fill: #000000;
    /* -fx-font-weight: bold; */
}

.tab:selected .tab-label {
    /* -fx-alignment: CENTER; */
    -fx-text-fill: #000000;
}

/*-------------------------------------------------- COMBOBOX --------------------------------------------------*/
.combo-box .list-cell
{
    -fx-font-family:"Arial";
    -fx-font-size: 11px;
    -fx-text-fill: #000000;
    -fx-background: #EEEEEE;
    /*-fx-background-color: linear-gradient(to bottom, #EEEEEE, #DCDCDC);*/
    -fx-background-radius: 0px;
    -fx-padding: 0 0 0 10;
    /* -fx-cell-size: 1.66667em; */
}

.combo-box-popup .list-view
{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.5) , 7, 0.0 , 0 , 0 );
}

/*.combo-box-popup .list-view .list-cell
{
    -fx-background-color: #FF0000
}*/

/*.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover
{
    -fx-background: #FF0000;
    -fx-background-color: -fx-selection-bar;
    -fx-text-fill: -fx-selection-bar-text;
}*/

.combo-box-popup .list-view .list-cell:filled:hover
{
    -fx-background-color: #AAAAAA;
    -fx-text-fill: #000000;
}